# LOOPSüîΩ

### WHILE LOOP‚úîÔ∏è

With the while loop we can execute a set of statements as long as a condition is true.

In [1]:
# EXAMPLE-1.
count = 1 #initialization.
while count<11: #condition.
    print (count) #printing the values.
    count = count+1 #Increment.

1
2
3
4
5
6
7
8
9
10

In [1]:
# EXAMPLE -2.
k=0 #we can take any variable name.
while(k<5):
    print (k)
    k= k+1 # Incrementing

0
1
2
3
4

In [5]:
# EXAMPLE -3.
r = 1
while(r<11):
    print(r,"Nandan") #. Here we are printing r (the value) with the name nandan
    r=r+1

1 Nandan
2 Nandan
3 Nandan
4 Nandan
5 Nandan
6 Nandan
7 Nandan
8 Nandan
9 Nandan
10 Nandan

In [6]:
# EXAMPLE-4.
d = 0
while(d<20):
    print(d)
    d=d+2 # Here we are incrementing 2.

0
2
4
6
8
10
12
14
16
18

In [14]:
#EXAMPLE-5.
i=0
while(i<10):
    print(i,end=" ")# we are using end=" " function to write in a row wise.
    i=i+1

0 1 2 3 4 5 6 7 8 9

In [12]:
# EXAMPLE-6.
i=1
while(i<51):
    print (i,end=". ")
    i=i+1

1. 2. 3. 4. 5. 6. 7. 8. 9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50.

In [1]:
# EXAMPLE -7.
k=0
while(k<50):
    print("The value of k =",k)
    k=k+5

The value of k = 0
The value of k = 5
The value of k = 10
The value of k = 15
The value of k = 20
The value of k = 25
The value of k = 30
The value of k = 35
The value of k = 40
The value of k = 45

In [7]:
# EXAMPLE-8
x= int(input("enter your value of x is "))
i=0
while(i<x):
    print(i,end=" ")
    i=i+1

enter your value of x is 8
0 1 2 3 4 5 6 7

### FOR LOOP‚úÖüîΩ

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [9]:
# EXAMPLE-1.
for i in [1,2,3,4,5]:# it consider it as rane and prints it.
    print(i)

1
2
3
4
5

In [12]:
# EXAMPLE-2.
for k in [10,20,30,40,50]:
    print(k)

10
20
30
40
50

In [14]:
# EXAMPLE-3.
# With float data 
for i in [23.45,56.7,87.9,22.4]:
    print (i,end=" ")
# horizontal ways.

23.45 56.7 87.9 22.4

In [15]:
# EXAMPLE-4.
for i in ["A","B","C","D"]:
    print(i)

A
B
C
D

In [16]:
list1 = [1,2,3,44,4]
# we can also assign like this.
for i in list1:
    print(i)

1
2
3
44
4

In [1]:
# using print statement externally.
l=[1,2,3,4,5]
for i in l:
    print(i)
    i=i+1
print ("DONE")

1
2
3
4
5
DONE

In [2]:
# printing in extra line.
k=[1,2,3,4,5]
for i in k:
    print(i)
    i=i+1
print("\n")
print ("DONE")

1
2
3
4
5


DONE

# RANGE FUNCTION üîΩ

 The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

In [3]:
range(5)
# it shows only 0,5.

range(0, 5)

In [4]:
#using of list we can draw elements between them.
list(range(6))

[0, 1, 2, 3, 4, 5]

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
a= list(range(6)) # storing value in a.
print (a)

[0, 1, 2, 3, 4, 5]

In [8]:
# Mentioning starting and ending elements.
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [9]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
x = list(range(5,15))
for i in x:
    print(i)
print("values are printed")

5
6
7
8
9
10
11
12
13
14
values are printed

In [11]:
# using jump condition inside range.
k= list(range(0,15,3))
for i in k:
    print(i)
print("The values are printed")

0
3
6
9
12
The values are printed

In [14]:
# printing statement in front of values.
k= list(range(0,15,3))
print (k,"The values are printed")

[0, 3, 6, 9, 12] The values are printed

In [15]:
# create a list with name fundrink with elements Coke lemon soda Pepsi and then iterate through for loop.
fundrink =['coke','lemon','soda','pepsi']
for i in fundrink:
    print (i)

coke
lemon
soda
pepsi

‚û°Ô∏è WHILE LOOP does not work through dictionary,only FOR LOOP works with dictionary.

In [5]:
# filling the empty list with the help of for loop.
s=[]
for i in range(2,20,2):
    s.append(i)
    
print (s)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
# when we not take out the print statement from  indentation 
s=[]
for i in range(2,20,2):
    s.append(i)
    print (s)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14, 16]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

### list comprehension

Creating a new list from existig list

In [1]:
list1 =[1,2,3,4,5] # first list.
m=[ d for d in list1] # assigning the values to m.
print (m)

[1, 2, 3, 4, 5]

In [2]:
# if we need a separate list from existing list based upon given condition.
data =[1,2,3,4,5,6,7,8,9]
s=[d for d in data if d%2==0] # condition.
print (s)

[2, 4, 6, 8]

In [4]:
j = [i for i in range(0,30,5)]
print (j)

[0, 5, 10, 15, 20, 25]

In [5]:
# using in dictionary.#only key are taken.
dict ={1:100,2:200,3:300}
k =[d for d in dict]
print (k)

[1, 2, 3]

In [6]:
# using in dictionary.#only key are taken.
dict ={1:100,2:200,3:300}
k =[d for d in dict.items()]
print (k)

[(1, 100), (2, 200), (3, 300)]